<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
  // Vue.directive("upper", function (el, binding, vnode) {
  //   var arg = binding.arg;
  //   if (arg == "bold") vnode.componentInstance.bold = true;
  //   vnode.componentInstance.text2 =
  //     vnode.componentInstance.text2.toUpperCase();
  // });
  Vue.directive("upper", function (el, binding, vnode) {
    var arg = binding.arg;
    if (arg) {
      var args = arg.split(",");
      var bold = args.includes("bold");
      var italic = args.includes("italic");
      vnode.componentInstance.bold = bold;
      vnode.componentInstance.italic = italic;
    }
    vnode.componentInstance.text2 =
      vnode.componentInstance.text2.toUpperCase();
  });
  // Vue.directive("upper", function (el, binding, vnode) {
  //   var modifiers = Object.keys(binding.modifiers);
  //   var s = "";
  //   for (var i = 0; i < vnode.componentInstance.text2.length; i++) {
  //     var c = vnode.componentInstance.text2.charAt(i);
  //     if (modifiers.includes(c)) s += c.toUpperCase();
  //     else s += c;
  //   }
  //   vnode.componentInstance.text2 = s;
  // });
  Vue.directive("hide", function (el, binding) {
    var hide = binding.value;
    console.log("hide = " + hide);
    if (hide) el.style.display = "none";
  });
  // Vue.directive("log", function (el) {
  //   console.log("v-log directive applied on el element : ", el);
  //   console.log("Whose parent is:", el.parentElement);
  // });
  // Vue.directive("log", {
  //   bind: function (el, binding) {
  //     console.log("bind() at " + el.innerHTML);
  //   },
  //   inserted: function (el, binding) {
  //     console.log("inserted() at " + el.innerHTML);
  //   },
  //   update: function (el, binding) {
  //     console.log("update() at " + el.innerHTML);
  //   },
  //   componentUpdated: function (el, binding) {
  //     console.log("componentUpdated() at " + el.innerHTML);
  //   }
  // });
  // Vue.directive("log", {
  //   inserted(el) {
  //     console.log("v-log directive applied on el element : ", el);
  //     console.log("Whose parent is:", el.parentElement);
  //   }
  // });
  Vue.component("App", {
    data() {
      return {
        text2: this.text,
        bold: false,
        italic: false
      }
    },
    props: [
      "text"
    ],
    template: `
<p>
<span v-if="bold">
<span v-if="italic">
<b><i>{{text2}}</i></b>
</span>
<span v-else>
<b>{{text2}}</b>
</span>
</span>
<span v-else>
<span v-if="italic">
<i>{{text2}}</i>
</span>
<span v-else>
{{text2}}
</span>
</span>
</p>
`
  });
  var vm = new Vue({
    el: "#root",
    data: {
      hide: false,
      time: new Date()
    },
    computed: {
      hhmmss() {
        var hh = this.time.getHours();
        var mm = this.time.getMinutes();
        var ss = this.time.getSeconds();
        if (hh < 10) hh = "0" + hh;
        if (mm < 10) mm = "0" + mm;
        if (ss < 10) ss = "0" + ss;
        return `${hh}:${mm}:${ss}`;
      }
    },
    created() {
      setInterval(() => {
        this.time = new Date();
      }, 1000);
    },
    template: `
<div>
<span v-log>Hello Vue !</span>
<p v-hide="hide">Paragraph 2 visible if hide is false,
not visible if hide is true</p>
<App text="Paragraph 1" v-hide="false" />
<App text="Paragraph 2" v-hide="true" />
<App text="Paragraph 3" v-upper />
<App text="Paragraph upper + bold" v-upper:bold />
<App text="Paragraph upper + italic + bold" v-upper:italic,bold />
<App text="Paragraph normal" />
<App text="Paragraph upper + italic" v-upper:italic />
<App text="Paragraph 2" v-upper.a.p />
</div>
// <div>
// It is <span v-log>{{hhmmss}}</span>
// </div>
`
  });
</script>

</html>